@import './base.css';

:root {
  --primary-color: #141417;
  --secondary-color: #fff;
  --yellow-color: #ffd432;
  --green-color: #4fd2ee;
}
main {
  padding-top: 4rem;
}

h1 {
  color: var(--secondary-color);
  font-size: 5rem;
  text-align: center;
  font-weight: 200;
}

h2 {
  color: var(--yellow-color);
  font-size: 3rem;
  text-align: center;
  font-family: 'Marck Script', cursive;
  font-weight: 400;
  font-style: normal;
}

p {
  font-size: 2rem;
  text-align: center;
  font-weight: 200;
}

a {
  text-decoration: none;
}

.container {
  background-color: var(--primary-color);
  padding: 4rem 12rem;
  color: var(--secondary-color);
}

.btn-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

button {
  font-family: 'Concert One', sans-serif;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  padding: 0.7rem 2rem;
  border: 2px solid var(--secondary-color);
  border-radius: 0.6rem;
  background-color: var(--secondary-color);
  width: 18rem;
  color: var(--primary-color);
}

button:disabled {
  color: rgba(0, 0, 0, 0.8);
}

button:hover {
  background-color: transparent;
  border: 2px solid var(--yellow-color);
  color: var(--yellow-color);
}

.form-container {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 20rem;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

label,
input,
select,
textarea {
  font-size: 2rem;
}

input,
select,
textarea {
  margin: 1rem;
  background-color: var(--secondary-color) !important;
  padding: 0.7rem;
  width: 33rem;
  border: 2px solid #000;
  border-radius: 0.6rem;
}

input:focus,
select:focus,
textarea:focus {
  outline: 2px solid var(--yellow-color);
}

::placeholder {
  color: #000;
  opacity: 0.8;
}

.spinner {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  color: var(--yellow-color);
  animation: fadeOut 2s infinite alternate;
}

.success-message {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  color: var(--yellow-color);
}

.error-message {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  color: var(--yellow-color);
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.7;
  }
}

/* width */
::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.5rem var(--secondary-color);
  border-radius: 0.6rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 0.6rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--yellow-color);
}

@media (max-width: 1600px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  a {
    font-size: 1.7rem;
  }
}

@media (max-width: 1400px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  a {
    font-size: 1.5rem;
  }
}
@media (max-width: 767px) {
  main {
    padding-top: 4rem;
  }
  .container {
    padding: 4rem 1rem;
  }
  .btn-holder {
    flex-direction: column;
  }
}
